[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/libuv/libuv.git
[submodule "vendor/http-parser"]
	path = vendor/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "vendor/uvw"]
	path = vendor/uvw
	url = https://github.com/skypjack/uvw.git
[submodule "vendor/docopt.cpp"]
	path = vendor/docopt.cpp
	url = https://github.com/docopt/docopt.cpp.git
